<!DOCTYPE html>
<html ms-controller="root">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="version" content="<?= $_Gver?>">
    <link rel="shortcut icon" href="/images/fav.ico" type="image/icon" />
    <title>Pi Dashboard</title>
    <link href="/css/bs.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <?php if ($error):?>
            <div class="alert alert-danger" role="alert">Need Retry</div>
        <?php endif;?>
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Pi Status</h1>
            </div>
            <form role="form" method="post" action="/st/straw" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" required name="account">
                    </div>
                    <div class="clo-sm-2">
                        <button type="submit" class="btn btn-success">DO</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

</body>
</html>
